<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GAMSOND03/src/com/gamsond03/process/Gamsond03.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gamsond03.process.Gamsond03"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GAMSOND03"/>
</launchConfiguration>
